header {
  &.navbar{
    position: fixed;
    width: 100%;
  }
  &.nav-up {
    transform: translateY(-80px);
  }
  &.nav-down{
    transform: none;
    background-color: $foreground_accent_color;
    box-shadow: 0 3px 7px -3px $color_shadow;
    ul.navbar-nav li.search-form {
      input {
        border-color: $dark_color;
      }
    }
  }
  transition: all 0.5s;
  background-color: transparent;
  height: 80px;
  z-index: 9000;
  a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: $dark_color;
  }
  .collapse.navbar-collapse {
    justify-content: flex-end;
  }
  a#logo {
      font-size: 24px;
  }
  ul.navbar-nav {
    flex-direction: row;
    align-items: center;
    li.search-form {
          form {
            position: relative;
          }
          input {
            border-color: transparent;
            border-radius: 20px;
           }
          .submit-btn {
            position: absolute;
            right: 8px;
            background-color: transparent;
            border: none;
            top: 6px;
            font-size: 14px;
            &:hover,
            &:focus {
              cursor: pointer;
              color: $accent_color;
            }
          }
      }
    .dropdown-menu{
      border-radius: 0;
      position: absolute;
      display: block;
      visibility: hidden;
      border: none;
      z-index: 99;
      transition: 0.5s;
      opacity: 0;
      box-shadow: 0 9px 24px $sub_menu;
      li {
        margin-left: 20px;
        a {
          text-transform: capitalize;
          font-weight: normal;
          letter-spacing: 0;
          &:before {
            content: none;
          }
        }
        + li {
          padding-top: 10px;
        }
      }
    }
    .dropdown.x-menu {
        position:relative;
        &:hover,
        &:focus {
          ul.dropdown-menu {
            top: 80px;
            opacity: 1;
            visibility: inherit;
          }
        }
      }
    li + li {
      margin-left: 30px;
    }
    > li {
      padding:30px 0;
      i{
          font-size: 14px;
          margin-left: 5px;
          transition: 0.3s;
      }
      a {
        position: relative;
        &:before{
          content: "";
          position: absolute;
          width: 0;
          transition: 0.5s;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: $accent_color;
        }
        &:hover,
        &:focus{
          i{
            color: $accent_color;
          }
          &:before {
            width: 100%;
          }
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  margin-top: 50px;
  background-color: $footer_bg;
  padding: 50px 0;
  .footer-title{
    color : $dark_color;
    font-weight: 600;
  }
  .footer-menu{
    padding: 0;
    list-style: none;
    font-size: 16px;
    li > a {
      transition: 0.3s;
      &:hover,
      &:focus{
        text-decoration: none;
        margin-left: 5px;
        color: $accent_color;
      }
    }
  }
}
.page-title {
  position: relative;
  .title {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 42px;
    color: $dark_color;
    font-weight: 600;
  }
}

p.sign-up{
  margin-top: 10px;
}

.ps-review {
  margin-bottom: 40px; }
  .ps-review::after {
    clear: both;
    content: "";
    display: table; }
  .ps-review .ps-review__thumbnail {
    float: left;
    width: 100px; }
    .ps-review .ps-review__thumbnail img {
      width: 80px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .ps-review .ps-review__content {
    float: left;
    width: calc(100% - 100px);
    padding: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #f1f1f1; }
    .ps-review .ps-review__content p {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.5em;
      text-align: left;
      color: #5b5b5b; }
  .ps-review header {
    margin-bottom: 10px; }
    .ps-review header .br-widget, .ps-review header .br-wrapper {
      display: inline-block;
      margin-right: 10px; }
    .ps-review header p {
      display: inline-block;
      font-size: 14px;
      color: #5b5b5b; }
      .ps-review header p a {
        font-weight: 700;
        color: #2AC37D; }
  @media (max-width: 767px) {
    .ps-review .ps-review__thumbnail {
      margin-bottom: 20px;
      float: none;
      width: 100%; }
    .ps-review .ps-review__content {
      float: none;
      width: 100%;
      padding: 15px; } }

.ps-comment {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .ps-comment .ps-comment__thumbnail {
    min-width: 100px;
    width: 100px;
    padding-right: 20px; }
    .ps-comment .ps-comment__thumbnail img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .ps-comment .ps-comment__content {
    padding: 20px;
    -webkit-border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    -ms-border-radius: 0 20px 0 20px;
    border-radius: 0 20px 0 20px;
    background-color: #f3f3f3; }
    .ps-comment .ps-comment__content > header {
      margin-bottom: 10px; }
      .ps-comment .ps-comment__content > header::after {
        clear: both;
        content: "";
        display: table; }
      .ps-comment .ps-comment__content > header h4 {
        display: inline-block;
        font-family: "Archivo Narrow", sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #29203c; }
        .ps-comment .ps-comment__content > header h4 span {
          margin-left: 20px;
          font-family: Montserrat;
          font-size: 14px;
          line-height: 1.8em;
          color: #989898; }
      .ps-comment .ps-comment__content > header > a {
        display: inline-block;
        float: right;
        font-family: "Archivo Narrow", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #2ac37d;
        text-transform: uppercase; }
        .ps-comment .ps-comment__content > header > a i {
          margin-left: 10px; }
        .ps-comment .ps-comment__content > header > a:hover {
          color: #000; }
  .ps-comment--reply {
    margin-left: 100px; }
  @media (max-width: 640px) {
    .ps-comment {
      display: block; }
      .ps-comment .ps-comment__thumbnail {
        width: 60px;
        margin-bottom: 15px; }
        .ps-comment .ps-comment__thumbnail img {
          border: 5px solid #f3f3f3; }
      .ps-comment .ps-comment__content {
        width: 100%; }
        .ps-comment .ps-comment__content > header > a {
          float: none; }
      .ps-comment--reply {
        margin-left: 30px; } }
